$theme-color:#303483;
$background-color:#ECECF3;
.user-view {
    height: 30vh;
}

nav {
    background: $theme-color;
}

a.modal-trigger {
    font-size: 1.7vmin;
    max-width: 11%;
}

.page-title {
    font-size: 3rem;
}

.about-us {
    margin-top: 4%;
}

.about-us-content {
    margin-left: 10%;
    margin-right: 10%;
}

.about-us-page {
    min-height: 100vh;
    background: $background-color;
}

.profile-row {
    display: flex;
}

.profile-card {
    height: 70vh;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2%;
}

.img-background {
    height: 50%;
}

.img-dimension {
    width: 100px;
    margin-top: 10%;
}

.card-row {
    display: flex;
    margin-left: 10%;
    margin-right: 15%;
}

.card {
    min-width: 25%;
    height: 40vh;
    margin: 1px;
    margin-top: 2%;
}

.card:hover {
    position: relative;
    box-shadow: 0px 10px 5px #888888;
}