/*center all elements*/

html, body,{
	text-align: center;
	color: gold;
}

body{
	background: url("https://i0.wp.com/timmatic.com/i/2016/11/website-background-images-tile-wallpaper-photo.jpg?resize=525%2C295");
	background-repeat: no-repeat;
	background-size: cover;
}
/*title*/
.title {
	text-align: center;
	padding: 5px 0px 25px 0px;
}

/*navbar list*/
.navbar .navbar-inner{
	padding: 0;
}

.navbar .nav {
	margin: 0;
	display: inline-block;
	width: 100%;
}

/*images*/

.mf {
	min-height: 250px;
	width: 250px;
	 margin: 0 auto;
}

/*footer*/

#b{ 
	font-family: 'Caveat Brush', cursive;
	font-size: 20px;
	font-weight: 500;
}
.container {
/*	width: auto;*/
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.btn-social{
	background: rgba(0,0,0,0.3);
	color: #fff;
	display:inline-block;
	border:1px solid grey;
	border-radius:50%;
	text-align:center;
    font-size:28px;
	line-height:31px;
	padding:4px;
}
.btn-social:hover{
	 transform: scale(1.2);
}
.social-media{
	margin:0 auto;
}
